*{
    margin: 0px;
    font-family: 'Inter';
    color: white;
}
body{
    background-color: #444444;
    background-image: url('../img/Desktop\ -\ 8.png');
    background-size:cover;
    background-repeat:no-repeat;
}
* a{
    color: white;
    text-decoration-line: none;
}
nav{
    top:0;
    position: sticky;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
nav div{
    margin: 60px 35px 35px 35px;
}
/* .a a{
    display: flex;
    align-items: center;
} */
.inav{
    background-color: #ffffff;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    padding: 10px;

}
.inav img{
    object-position: top 3px right 0px;
}
.inav p{
    font-weight: bolder;
    font-size: 30px;
    text-decoration-line: none;
    display: inline-block;
    color: #000000;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    position: relative;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
}

.user img{
    width: 45px;
}

.dropdown-user{
    margin: 0px 0px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 150px;
    z-index: 1;
    top:103%;
    right: 0px;
    border-radius: 5px 0px 5px 5px;
    font-size: small;
}
.dropdown-user a{
    display: block;
    color: #000000;
    padding: 8px;
}
.dropdown-user a:first-child{
    border-radius: 5px 0px 0px 0px;
}
.dropdown-user a:last-child{
    border-radius: 0px 0px 5px 5px;
}
.dropdown-user a:hover {
    background-color: #444444;
    color: #ffffff;
}
.user:hover .dropdown-user{
    display: block;
    background-color: #ffffff;
}
.user:hover{
    background-color: #ffffff;
    border-radius: 30px 30px 0px 0px;
}
.Catalog{
    margin-top: 30px;
    width:100%;
    min-height: 500px;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
}

main{
    width:100%;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.B1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    align-items: center;
    width: 250px;
    height:250px;
    border-radius: 25px;
    border-style: solid;
    border-width: 10cap;
    border-color: rgb(255, 255, 255);
}
.B1 a{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a img{
    width: 200px;
}
.b img{
    width: 176px;
}
.c img{
    width: 181px;
}
.B1 p{
    position: absolute;
    top:235px;
    font-size: 3ch;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    font-size: small;
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
footer img{
    width: 25px;
}
.B1:hover img{
    transform: scale(1.2);
}