

    <!-- main -->
    <main class="catalog">
        <div class="filter-nav anim">
            <div class="filter-sort anim">
                <a href="#">Most Popular</a>
                <a href="#">Latest</a>
            </div>
            <div class="search anim">
                <form action="#">
                    <input type="text" placeholder=" Search "name="search">
                        <img class="fa"src="img/Search.png">
                </form>
            </div>
            <div class="filter-categories anim">
                <a href="#">3D</a>
                <a href="#">Vector</a>
                <a href="#">Raster</a>
            </div>
        </div>
        <div class="content">
        <% for( let index = 0; index < data.length; index++ ) { %>
                <div class="item-cart">
                    <img src="<%= data[index].preview[0].url%>" alt="">
                    <div class="download-button">
                        <a href="/detail/<%= data[index].id%>">Download
                            <img src="img/download.png" alt="">
                        </a>
                    </div>
                </div>
        <% } %>
    </div>
    </main>

