<footer>
    <div class="nav-footer">
        <div>
            <p>@Tupailabs.com</p>
        </div>
        <div class="social">
            <a href="#">
                <img src="../img/facebook.png" alt="logo-tupai">
            </a>
            <a href="#">
                <img src="../img/instagram.png" alt="logo-tupai">
            </a>
        </div>
    </div>
</footer>
</body>
</html>