<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <!-- header -->
    <nav>
        <div class="logo-nav">
            <a href="/">
                <img src="../img/logo.png" alt="logo-tupai">
                <p>Shape</p>
            </a>
        </div>
        <div class="user">
            <a href="/login">
                <% if(username != "" && username != null) { %>
                    <p><%= username; %></p>
                    <img src="../img/user.png"/>
                </a>
                <div class="user">
                    <a href="index-new.html" class="log-1">
                        <p>Nama</p>
                        <img src="asset/img/user.png"/>
                    </a>
                    <div class="user-details-dropdown">
                        <a href="#" class="user-name-details">
                            <div>
                                <p>Nama</p>
                                <p>Email@address.com</p>
                            </div>
                            <img src="asset/img/user.png"/>
                        </a>
                        <a href="#">Setting</a>
                        <a href="/logout">Sign Out</a>
                    </div>
                </div>
                <% }else{ %>
                    <p>Sign in</p>
                    <img src="../img/user.png"/>
                </a>
                <% } %>
                
        </div>
    </nav>