<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <main class="formLogin">
        <div class="formContainer">
            <h1 style="text-align: center; margin-bottom: 0.6em;">Login</h1>
            <form action="/login" method="post" class="LoginContainer">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="Login">
                <a href="/register" >Don't Have an Account yet? Register</a>
            </form>
            
        </div>
     </main>

<%- include('footer') %>