    <!-- main -->
    <main class="margin-center">
        <div class="product-content">
            <img src="<%= data.detail[0].url %>" alt="">
            <div class="details">
                <h1><%= data.asset_name %></h1>
                <div class="categories">
                    <a href="#">Categories</a>
                </div>
                <p>Created by @Tupailabs</p>
                <form>
                    <select name="type" id="type">
                      <option value="PSD">Photoshop</option>
                      <option value="PSD">Figma</option>
                      <option value="PSD">PNG</option>
                    </select>
                    <select name="size" id="size">
                        <option value="PSD">4K</option>
                        <option value="PSD">2K</option>
                        <option value="PSD">1K</option>
                      </select>
                    <input type="submit" value="Download">
                    <!-- input jadikan a -->
                </form>
            </div>
        </div>
    </main>