<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- header -->
    <nav>
        <div class="logo-nav">
            <a href="/">
                <img src="img/Logo.png" alt="logo-tupai">
                <p>Shape</p>
            </a>
        </div>
        <div class="user">
            <a href="index-new.html">
                <p>Sign in</p>
                <img src="img/user.png"/>
            </a>
        </div>
    </nav>


    <!-- main -->
    <main class="margin-center">
        <div class="product-content">
            <img src="img/Asset.png" alt="">
            <div class="details">
                <h1>Title</h1>
                <div class="categories">
                    <a href="#">Categories</a>
                    <a href="#">Categories</a>
                    <a href="#">Categories</a>
                    <a href="#">Categories</a>
                    <a href="#">Categories</a>
                    <a href="#">Categories</a>
                    <a href="#">Categories</a>
                    <a href="#">Categories</a>
                </div>
                <p>Created by @Tupailabs</p>
                <form>
                    <select name="type" id="type">
                      <option value="PSD">Photoshop</option>
                      <option value="PSD">Figma</option>
                      <option value="PSD">PNG</option>
                    </select>
                    <select name="size" id="size">
                        <option value="PSD">4K</option>
                        <option value="PSD">2K</option>
                        <option value="PSD">1K</option>
                      </select>
                    <input type="submit" value="Download">
                </form>
            </div>
        </div>
    </main>


    <!-- footer -->
    <footer>
        <div class="nav-footer">
            <div>
                <p>@Tupailabs.com</p>
            </div>
            <div class="social">
                <a href="#">
                    <img src="img/facebook.png" alt="logo-tupai">
                </a>
                <a href="#">
                    <img src="img/instagram.png" alt="logo-tupai">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>