    <!-- main -->
    <main class="margin-center">
        <div class="product-content">
            <img src="<%= data.detail[0].url %>" alt="">
            <div class="details">
                <h1><%= data.asset_name %></h1>
                <div class="categories">
                    <a href="#">Categories</a>
                </div>
                <p>Created by @Tupailabs</p>
                <form>
                    <select name="type" id="type">
                        <% for( let index = 0; index < assettype.length; index++ ) { %>
                            <option value="<%= assettype[index]%>"><%= text.toUpperCase(assettype[index]) %></option>
                            <% } %>
                    </select>
                    <!-- <select name="size" id="size">
                        <option value="4K">4K</option>
                        <option value="2K">2K</option>
                        <option value="1K">1K</option>
                        <option value="500">500</option>
                      </select> -->
                    <input type="submit" value="Download">
                    <!-- input jadikan a -->
                </form>
            </div>
        </div>
    </main>